header{
    min-height: 45px;
    width: 100%;
    background: linear-gradient(to right, #ff9900 , rgb(247, 3, 97));
    display: flex;
    /* outline: 2px solid green; */
}

body{
    background-color: rgb(27, 27, 27);
    align-items: center;
    justify-content: center;
}

*{
    padding: 0;
    margin: 0;
}

#inicioSesion{
    border-image: linear-gradient(to right, #ff9900 , rgb(247, 3, 97));
    padding: 8px;
    display: flex;
    flex-direction: column;
    color:white;
    align-items: center;
}

main{
    /* background-color: rgb(27, 27, 27); */
    /* background-color: black; */
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* outline: 1px solid yellow; */
    height: auto;
    width:auto;
}

#informacionAdicional{
    outline: 1px solid white;
    border-radius: 20px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    color:white;
    align-items: center;
    justify-content: center;
    height: auto;
    width: auto;
}

.bloques{
    width: 100%;
    justify-content: center;
    align-items: center;
    /* outline:2px solid white; */
    margin-top:15px;
    /* margin-top: 20px;
    margin-bottom: 20px; */
}

#bloque1{
    flex-direction: row;
    justify-content: space-around;
}

#bloque2{
    flex-direction: row;
    justify-content: space-around;
}

#bloque3 h2{
    margin:10px;
}

#bloque3{
    /* outline: 2px solid blue; */
    flex-direction: row;
    width: 100%;
    margin-top:15px;
    text-align: center;
}

#generos{
    /* outline: 1px solid green; */
    justify-content: center;

}

#input_parameters {
    
    border: 5px solid transparent;
    
    border-image: linear-gradient(to left, #ff9900 , rgb(247, 3, 97));
    
    -webkit-border-image: -webkit-linear-gradient(to left, #ff9900 , rgb(247, 3, 97));
    
    border-image-slice: 1;
    border-radius: 20px;
    margin:10px;
    margin-top:60px;
    float:right;
    width:60%;
    }

#bloque4{
    justify-content: center;
    flex-direction: row;
}

#contenedorPais{
    width:35%;
    /* outline:1px solid orange; */
}

#contenedorCiudad{
    width:35%;
    /* outline:1px solid orange; */
}

#butonIngresarCorreo{
    background: linear-gradient(#ff9900 , rgb(247, 3, 97));
    
}

#btn-CerrarSesion{
    float: right;
    outline:2px solid rgb(255, 174, 0);
    margin:0;
}

header h2{
    width:89%;
    font-family: monospace;
}

#btnSendPost{
    background: linear-gradient( rgb(247, 3, 97), #ff9900);
}

#personajes{
    border: 1px solid violet;
    border-radius:380px;
    width: 100%;
    height: 120%;
    margin:auto;
    margin-top:30px;
    margin-bottom:20px;
    /* padding-left:-300px; */
    /* box-shadow: 100px 1000px white;  */
}

#informacionPagina{
    /* outline: 1px solid yellowgreen; */
    width: auto;
    align-items: center;
    justify-content: center;
    margin:20px;
    /* background-color: white; */
}

#contenedor1{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 100%;
}

#texto-pagina{
    /* outline: 2px solid yellow; */
    margin:auto;

}

#contenedorLogin{
    /* outline: 1px solid turquoise; */
    width:29%;
    height: 580px;
    margin:auto;
    justify-content: center;
}

#login{
    margin-left:40px;
}

#butonRegistrate{
    background:  linear-gradient( rgb(247, 3, 97), #ff9900);
}

#proveedoresAdicionales{
    display:flex;
    flex-direction:column;
}

#iconoAtras{
    background-color: white ;
}

#butonVolverIngreso{
    align-items: center;
    float: right;
    outline: 1px solid blue;
}

#contenedorRegistar{
    width: 480px;
    /* outline:1px solid maroon; */
    height: 600px;
    justify-content: center;
    align-items:center;
    padding:auto;
    margin-left:0;
}

#registroUsuario{
    display:flex;
    flex-direction:column;
    /* outline: 1px solid pink; */
    width: 100%;
    margin:0;
    height:  390px;
    /* justify-content:left; */
    /* align-items: center; */
    /* margin-right:90px; */
    /* justify-content: space-around; */
}

#contenidoDeregistroUsuario{
    /* outline:1px solid white; */
    align-items: center;
    justify-content: stretch;
    margin-right: 10px;
    margin-left: 110px;
    width: 70%;
    padding:15px;

    border: 5px solid transparent;
    
    border-image: linear-gradient(to left, #ff9900 , rgb(247, 3, 97));
    
    -webkit-border-image: -webkit-linear-gradient(to left, #ff9900 , rgb(247, 3, 97));
    
    border-image-slice: 1;
    /* padding:10px; */
    /* text-align: center; */
}

#contenedorVolverRegistrar{
    margin-bottom:-39px;
    background-image: linear-gradient( rgb(247, 3, 97), #ff9900); 
    float:left;
    width: 50px;
    border-radius:20px;
}

#contenedorVolverLogin{
    /* margin-bottom:-39px; */
    background-image: linear-gradient( rgb(247, 3, 97), #ff9900); 
    float:left;
    width: 50px;
    border-radius:20px;
    margin-right: 30px;
}

#butonsDeRegistrar{
    width: 34%;
    justify-content: space-around;
    align-items: center;
    /* outline: 1px solid royalblue; */
    margin: auto;
    margin-bottom:10px;
}

#butonRegistrar{
    background-image: linear-gradient( rgb(247, 3, 97), #ff9900); 
}

#registroUsuario h3{
    margin-bottom:15px;
}

#registroUsuario input{
    width: 100%;
    margin-bottom:40px;
}

#contenedorGeneral{
    display:flex;
    /* flex-direction: row; */
    align-items: center;
    justify-content: space-around;
    /* outline: 1px solid violet; */
    width: 100%;
    height: 100%;
}

header h2{
    font-family:Helvetica;
}

#butonIngresoGoogle{
    margin:5px;
}

#butonIngresoFacebook{
    margin:5px;
}

#butonIngresoCorreo{
    margin:5px;
}

#postList{
    overflow:scroll;
    height: 600px;
    margin-right: 30px;
    margin-top:30px;
    
}

#postForm{
    width: 100%;
}

#contenedorpostList{
    background: linear-gradient( to right, rgb(236, 118, 153),#fdd57f);
    border: 5px solid transparent;
    
    border-image: linear-gradient(to left, #ff9900 , rgb(247, 3, 97));
    
    -webkit-border-image: -webkit-linear-gradient(to left, #ff9900 , rgb(247, 3, 97));
    
    border-image-slice: 1;
}

#contenidoWeb{
    width: 50%;
}

@media only screen and (max-width: 600px){
    header{
        width:100%;
    }

    #contenedor1{
        display:flex;
        flex-direction: column;
    }
}